/* FOOTER */
.footer {
    background: #5A2CA0; /* Warna ungu */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 14px;
    position: relative;
}

/* LOGO FOOTER */
.footer-logo {
    font-size: 18px;
    font-weight: bold;
}

/* COPYRIGHT */
.footer-copyright {
    font-size: 14px;
}

/* SOSIAL MEDIA */
.footer-social {
    display: flex;
    gap: 15px;
}

.footer-social a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

.footer-social a:hover {
    opacity: 0.7;
}